Django==1.6.1
PIL==1.1.7
South==0.8.4
wsgiref==0.1.2
gunicorn==18.0
dj_static==0.0.5
dj_database_url==0.2.2
psycopg2==2.5.2
boto==2.25.0
django-storages==1.1.8
django-mptt==0.6.0
django-tagging==0.3.2
beautifulsoup4==4.3.2
pyparsing==2.0.1
django-xmlrpc==0.1.5
django-blog-zinnia==0.14
pytz==2013.9
