#blog-main {
	background-color: #f0f4f6;
}

#blog-big-screen {
	height: 375px;
	background-color: #24282a;
	position: relative;
}

div.blog-entry-header {
	height: 167px;
}

div.blog-entry-content {
	padding-top: 5px;
	padding-bottom: 10px;
}

div.blog-entry-content p:last-child {
	margin-bottom: 0;
}

h1.blog-title {
	color: #a6b7bf;
	font: 52px montserrat, normal;
	padding-top: 130px;
	padding-bottom: 10px;
}

h2.blog-subtitle {
	color: #a6b7bf;
	font: 15px montserrat, normal;
	padding-bottom: 136px;
}

div.blog-entry {
	background-color: #ffffff;
	margin-bottom: 45px;
	margin-top: 45px;
	width: 960px;
	border: 1px solid #e1e4e6;
}

div.blog-index {

	margin-bottom: 15px;
	margin-top: 45px;
	width: 960px;

}

h2.blog-entry-title {
	font: 24px montserrat, normal;
	color: #64737a;
	padding-top: 50px;
	padding-bottom: 15px;
}

p.blog-entry-author {
	font: 14px montserrat, normal;
	color: #a6b7bf;
	padding-bottom: 45px;
}

div.blog-feature-image {
	width: 960px;
	height: 500px;
	overflow: hidden;
}

div.blog-entry-body {
	margin-top: 20px;
	margin-bottom: 10px;
}

a.blog-entry-category {
	color: #b1c0c7;
	font: italic 14px montserrat, normal;
}

a.blog-entry-tag {
	color: #b1c0c7;
	font: 14px montserrat, normal;
}

div.pagination {
	padding-left: 10px;
	padding-right: 10px;
}

div.blog-entry-index {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
}

a.blog-index-title {
	color: #64737a;
	font: italic 20px montserrat, normal;
}

p.blog-index-author {
	font: 14px montserrat, normal;
	color: #a6b7bf;
}

a.blog-index-author {
	font: 14px montserrat, normal;
	color: #a6b7bf;
	text-decoration: underline;
}

body {
	color: #5a5f61;
	font: 16px Lato, sans-serif;
}

p {
	color: #5a5f61;
	font: 16px Lato, sans-serif;
}

a {
	color: #065a84;
	font: 16px Lato, sans-serif;
}

h1 {
	color: #a6b7bf;
	font: 60px montserrat, normal;
}

h2 {
	color: #a6b7bf;
	font: 48px montserrat, normal;
}

h3 {
	color: #a6b7bf;
	font: 36px montserrat, normal;
}

h4 {
	color: #a6b7bf;
	font: 30px montserrat, normal;
}

h5 {
	color: #a6b7bf;
	font: 24px montserrat, normal;
}

h6 {
	color: #a6b7bf;
	font: 18px montserrat, normal;
}

li {
	color: #a6b7bf;
	font: 15px montserrat, normal;
}

ol {
	color: #a6b7bf;
	font: 15px montserrat, normal;
}

blockquote {
	color: #a6b7bf;
	font: bold 16px montserrat, normal;
	padding-top: 22px;
	padding-bottom: 22px;
	border-left: 6px solid #a6b7bf;
	margin-left: 20px;
}

#blog-lower-nav {
	background-color: #24282a;
}

h4.blog-lower-nav-title {
	color: #a6b7b7;
	font: 14px montserrat, normal;
	padding-top: 45px;
}

div.blog-lower-nav-links {
	padding-bottom: 45px;
}

a.blog-nav-link {
	color: #25a6e7;
	font: 14px montserrat, normal;
}

/* Blog Markdown */
table.codehilitetable {
	width: 100%;
}

td.linenos {
	padding-right: 0px;
}

div.codehilite {
	margin: 0px;
}

iframe {
	height: 315px;
	width: 500px;
	padding-bottom: 10px;
	padding-top: 10px;
}

/* Swiftype Search Box */

body form input.st-search-input {
	font-style: italic;
	background-image: url("search_icon.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: left center;
}
