{% extends 'blog/blog_base.html' %}

{% load staticfiles %}

{% block content %}

<section>
	<div class="row blog-index">
		<div class="row blog-entry">
			{% include 'blog/posted_entry_index.html' %}
			
			{% block pagination%}
				<div class="row pagination">
					{% if entry.previous and entry.next %}
						<div class="large-6 columns text-left">
							<p><a href="{% url 'entry' entry.previous.slug %}">Previous Post - {{ entry.previous.title }}</a></p>
						</div>
						<div class="large-6 columns text-right">
							<p><a class="blog-pagination-right"href="{% url 'entry' entry.next.slug %}">Next Post - {{ entry.next.title }}</a></p>
						</div>
					{% elif entry.previous and entry.next == None %}
						<div class="large-12 columns text-left">
							<p><a href="{% url 'entry' entry.previous.slug %}">Previous Post - {{ entry.previous.title }}</a></p>
						</div>
					{% elif  entry.previous == None and entry.next %}
						<div class="large-12 columns text-right">
							<p><a class="blog-pagination-right"href="{% url 'entry' entry.next.slug %}">Next Post - {{ entry.next.title }}</a></p>
						</div>
					{% else %}
					{% endif %}
				</div>
			{% endblock %}
		</div>
	</div>
</section>

{% endblock %}


