{% extends 'blog/blog_base.html' %}

{% load staticfiles %}

{% block content %}

<section class="blog_entry">
	<div class="row">
		{% include 'blog/posted_entry_index.html' %}
	</div>
	<div class="row">
		<div class="large-12 columns blog_files">
			{% for file in entry.files.filter %}
				<a href="{{ file.entry_file.url }}"><img src="{{ file.entry_file.url }}" alt="{{ file.title }}"></a>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}

{% block pagination%}
	<div class="row pagination">
		{% if entry.previous != None %}
			<div class="large-6 columns text-left">
				<p><a href="{% url 'entry' entry.previous.slug %}">previous post - {{ entry.previous.title }}</a></p>
			</div>
		{% endif %}
		{% if entry.next != None %}
			<div class="large-6 columns text-right">
					<p><a href="{% url 'entry' entry.next.slug %}">next post - {{ entry.next.title }}</a></p>
			</div>
		{% endif %}
	</div>
{% endblock %}