<div class="row blog-entry-index">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 columns">
				<p><a class="blog-index-title" href="{% url 'entry' entry.slug %}">{{ entry.title|upper }}</a></p>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<p class="blog-index-author">By <a class="blog-index-author" href="{% url 'index_of_author' entry.author.id %}">{{ entry.author }}</a> on {{ entry.post_date|date:"F j, Y" }}</p>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				{% for category in entry.categories.filter %}
					<a class="blog-entry-category" href="{% url 'index_of_category' category.id %}">{{ category }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				{% for tag in entry.tags.filter %}
					<a class="blog-entry-tag" href="{% url 'index_of_tag' tag.slug %}">#{{ tag }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% block pagination%}
{% endblock %}
