{% extends 'projects/base.html' %}

{% load staticfiles %}

{% block body_block %}

	<!-- General Content Section -->
	<div class="row">
		<div class="small-12 columns">
			<div class='container'>
				<h4>A mobile and web consultancy. <em>We make products happen.</em></h4>

				<p>We specialize in building products from the ground up -- be is the MVP for your new startup or the back-office app you need to streamline your companies workflow.</p>

				<p>Currently we are accepting projects in the following areas:</p>
				<ul>
					<li>Mobile (iOS/Android) development</li>
					<li>Web development</li>
					<li>Landing Pages</li>
					<li>Back-end/Services development</li>
				</ul>
			</div>
		</div>
	</div>

	<section id="feature_projects">
		<div class="row">
			<div class="small-12 columns">
				<div class="panel">
					<div class="row">

						<h2>Feature Projects</h2>
						<br>

						{% for project in projects_featured_list %}
						<div id="project" class="large-4 medium-4 columns">
							<a href="{% url 'project_page' project.id %}">{{ project.title }}</a>
							{% if project.company_logo %}
							<img src="{{ project.company_logo.url }}" height="100" width="100"><br>
							{% endif %}
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="credentials">
		<div class="row">
			{% if testimonials %}	
				<div class="large-6 columns testimonials">
					<div class="panel left">
						{% for testimonial in testimonials %}
							<p>{{ testimonial }}</p>
						{% endfor %}
					</div>
				</div>
				<div id="team" class="large-6 columns">
					<div class="panel">
						<h3 align="center"><a href='{% url 'about' %}#team_members'>Meet the Team</a></h3>
					</div>
				</div>
			{% else %}
				<div id="team" class="large-12 columns">
					<div class="panel">
						<a href="{% url 'about' %}">Meet the Team</a>
					</div>
				</div>
			{% endif %}
		</div>
	</section>

{% endblock %}