{% extends 'projects/base.html' %}

{% load staticfiles %}

{% block title %} - Projects{% endblock%}

{% block body_block %}

	<!-- Steamboat capabilities -->
	<div class="row">
		<div class='large-12 columns'>
			<h3>Steamboat Labs is a full service consultancy and has the ability to advise on development strategy as well as complete, full stack implementations using a variety of technologies. Below is a list of our projects.</h3>
		</div>
	</div>

	<!-- Project List -->
	<section id="project_index">
		<div class="row">
			<div class="large-12 columns">
			<div class="panel">
			<div class="row">
			{% for project in project_list %}
				{% if project.client.company_logo %}
					<div class="large-2 columns">
						<img src="{{ project.client.company_logo.url }}" height="100" width="100">
					</div>
					<div class="large-10 columns">
						<p><a href="{% url 'project_page' project.id %}">{{ project.title }}</a></p>
						<p>{{ project.project_start|date:"F j" }} - {{ project.project_end|date:"F j" }}</p>
						<p>{{ project.technologies }}</p>
					</div>
				{% else %}
					<div class="large-12 columns">
						<p><a href="{% url 'project_page' project.id %}">{{ project.title }}</a></p>
						<p>{{ project.project_start|date:"F j" }} - {{ project.project_end|date:"F j" }}</p>
						<p>{{ project.technologies }}</p>
					</div>
				{% endif %}
				<hr></hr>
				
			{% endfor %}
			</div>
			</div>
			</div>
		</div>
	</section>

{% endblock %}