{% extends 'projects/base.html' %}

{% load staticfiles %}

{% block title %} - About{% endblock %}

{% block body_block %}

<br>
<br>

<section id="company">
<div class="row">
	<div class="large-12 columns">

		<!-- Who We Are -->
		<section id="company_description">
			<div class="row">
				<div class="large-3 columns">
					<h4>Who We Are</h4>
				</div>
				<div class="large-9 columns">
					<p>Our team is a well-curated group of professionals who puts a premium on quality and innovation. Simply put, we want to work together and we have the knowledge and experience to help craft and/or create your project.</p>
				</div>
			</div>
		</section>

		<br>

		<section id="company_capabilities">
			<div class="row">
				<div class="large-3 columns">
					<h4>What We Do</h4>
				</div>
				<div class="large-9 columns">
					<p>Our technological specialties lie in Web/Mobile Development and Backend/Services Development. This can include product development insight, full-stack implementation, design, user experience and interaction design and end-to-end follow-through.</p>
				</div>
			</div>
		</section>
		
		<br>

		<section id="media">
			{% if media %}
			<div class="row">
				<div class="large-3 columns">
					<h4>Recognition</h4>
				</div>
				<div class="large-9 columns">
					{% for article in media %}
					<div id="media_article" class="row">
						<div class="large-12 columns">
							<a href="{{ article.url }}"><h5>{{ article.title}} - {{ article.publication }}</h5></a>
							<p>{{ article.quote }}</p>
							<hr></hr>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
		</section>

	</div>
</div>
</section>

<br>
<br>

<section id="team">
<div class="row">
	<a name="team_members"><div class="large-12 columns"></a>
		{% for teammember in team %}
		<div class="panel">
			<div class="row">
				<!-- Team Member Photo -->
				<div class="large-3 columns">
					<img src="{{ teammember.photo.url }}" height="100" width="100">
				</div>
				<!-- Team Member Bio & Links -->
				<div class="large-9 columns">
					<h4>{{ teammember.name }}</h4>
					<h5>{{ teammember.title }}</h5>
					<hr width="100%" align="left"></hr>
					<p>{{ teammember.bio }}</p>
					<div id="links" class="row">
						<div class="small-12 columns">
						{% for link in teammember.links %}
							<a href="{{ link.url }}"><img src="{{ link.icon.url }}" alt="{{ link.title }}" height="50" width="50"></a>
						{% endfor %}
					</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		{% endfor %}

	</div>
</div>
</section>

{% endblock %}