{% extends 'projects/base.html' %}


{% block body_block %}

<div class="row">
	<div class="large-12 columns">
		<h4>Please complete the form below and we will get back to you shortly.</h4>
	</div>
</div>

<br>

<div class="row">
	<div class="large-2 columns">
	</div>

	<div class="large-8 columns">
	{% if form.errors %}
		<p class='errors'>
			Please correct the error {{ form.errors|pluralize }} below.
		</p>
	{% endif %}

	<form action='' method='post'>
		<table class='contact_form'>
			{{ form.as_table }}
		</table>
		
		{% csrf_token %}
		
		<input  class="small radius button" type='submit' value="Submit">
	</form>
	</div>

	<div class="large-2 columns">
	</div>

</div>
{% endblock %}