{% extends 'projects/base.html' %}

{% load staticfiles %}

{% block title %} - {{ project.title }}{% endblock %}

{% block body_block %}
	<h1>{{ project.title }}</h1>
	
	<h2 class='duration'>
		<p>{{ project.project_start }} through {{ project.project_end }}</p>
	</h2>
	
	<h2 class='technologies'>
		Technologies employed: {{ project.technologies }}
	</h2>

	<h3 class='description'>
		{{ project.description }}
	</h3>

	<h3 class='accomplishments'>
		Accomplishments: {{ project.accomplishments }}
	</h3>

	<div class='client_information'>
		{% if project.company_logo %}
			<a href="{{ project.company_website }}"><img src="{{ project.company_logo.url }}" height="100" width="100"> 
			{{ project.company_name }}</a>
		{% else %}
			<p><a href="{{ project.company_website }}">{{project.company_name }}<a></p>
		{% endif %}
	</div>

	<div class='project_pictures_container'>
		{% for image in project_images.all %}
			<a href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="{{ image.title }}" height="100" width="100"></a>
		{% endfor %}
	</div>
	

{% endblock %}